@import url(buttons.css);

body {
  background-color: rgb(17, 17, 17);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.wrapper {
  max-inline-size: 900px;
  margin: auto;
}

.player {
  margin-inline-start: .75rem;
  margin-inline-end: .75rem;
  margin-block-start: 70px;
  position: relative;
}

.player video{
  inline-size: 100%;
  aspect-ratio: 16/9;
  vertical-align: middle;
  object-fit: cover;
}

.player-title {
  color:white;
  position: absolute;
  inset-inline-start: 20px;
  inset-block-start: 0;
}

.player-actions {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 2;
  gap: 20px;
}

.player-progress {
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0; 
  padding: 15px;
  display: flex;
}

.player-progress input {
  flex: 1;
  z-index: 2;
}

.player-overlay {
  position: absolute;
  opacity: 0;
  inset: 0;
  transition: .3s opacity;
}

.player:hover .player-overlay {
  opacity: 1;
}